body {
  background-color: var(--color-primary-body);
  color: var(--color-primary-text-header);
}

.painel-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  height: 80px;
  margin: 10px;
  color: var(--color-primary-texts);

}

.menu {
  display: flex;
  gap: 20px;
  height: 22px;
}

.menu-item {
  font-family: Rubik;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  color: var(--color-primary-texts);
}

.search-container {
  display: flex;
}

#searchBox {
  width: 200px;
  height: 30px;
}

.container-cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px;
}

.card {
  width: 170px;
  height: 400px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  color: var(--color-primary-texts);
  background-color: var(--color-cards);
}

#posters {
  object-fit: fill;
  width: 170px;
  height: 260px;
}

#moviename {
  font-size: 18px;
  text-align: center;
}

#premieredate {
  font-size: 16px;
}

.info-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.btn-showmore {
  background-color: var(--color-Primary-White);
  border-radius: 5px;
  width: 90px;
  height: 25px;
}