body {
  background-color: var(--color-primary-body);
  color: var(--color-primary-texts);
  font-family: Hanuman;
}

.imagebg-home {
  display: block;
  margin: 150px 620px auto;
  height: 550px; 
}

.painel-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  color: var(--color-painel-text);
  position: absolute;
  top: 300px;
  margin-left: 180px;
}

.painel-header-style {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--color-painel-text);
  align-items: center;
  border-radius: 50px;
  box-shadow: 3px 4px 8px var( --color-box-shadow) ;
}

.painel-header-style  a {
  text-decoration: none;
  color: var(--color-painel-text);
}

.painel-header a {
  text-decoration: none;
  color: var(--color-painel-text);
}


.search-container {
  background: var(--color-primary-dark);
  line-height: 40px;
  padding: 12px;
  border-radius: 60px;
  display: flex;
  margin: 7px;
}

#searchBox {
  background: var(--color-primary-dark);
  color: var(--color-primary-texts);
  border: none;
  line-height: 30px;
  font-size: 14px;
  transition: 0.7s ease-in-out;
  outline: none;
}

.btn-search {
  background: var(--color-primary-dark);
  padding: 12px;
  border-radius: 50px;
  color: var(--color-icon-search);
  transition: 0.4s ease;
}

.search-container:hover {
  width: 250px;
  margin: 0px 15px;
}

.container-cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 64px;
}

.card {
  height: 385px;
  width: 190px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  color: var(--color-primary-texts);
  align-items: center;
  box-shadow: 1px 3px 5px 7px var( --color-box-shadow);
}

.card a {
  text-decoration: none;
  color: var(--color-primary-texts);
  padding: 8px;
  text-align: center;
}

#posters {
  object-fit: fill;
  width: 190px;
  height: 250px;
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
}

.info-movie {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}


.movie-section {
  font-family: Hanuman;
  font-weight: 700;
  margin-top: 40px;
  padding: 30px;
  width: 100%;
  max-width: 1200px;
}

.bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .3;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-infos {
  width: 40%;
  color: var(--color-primary-texts);
}

.movie-genre {
  display: inline-flex;
  width: 90px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-robbin-blue);
  padding: 5px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
  box-sizing: border-box;
}

.movie-genre:not(:last-child) {
  margin-right: 10px;
}

.movie-title {
  font-size: 14px;
  text-transform: capitalize;
}

.movie-actors {
  width: 75%;
  text-transform: uppercase;
  font-size: 12px;
}

.movie-details {
  display: flex;
  align-items: center;
  max-width: 75%;
  align-items: center;
}

.movie-detail {
  display: inline-block;
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 150px;
}

.movie-detail:not(last-child) {
  margin-right: 10px;
}

.separator {
  display: inline-block;
  background-color: var(--color-primary-texts);
  width: 7px;
  height: 7px;
  margin-right: 10px;
  border-radius: 50%;
}

.movie-plot {
  width: 75%;
  line-height: 30px;
  opacity: .7;
}